<mat-toolbar>
  <h1>Glucose Levels</h1>
</mat-toolbar>

<mat-accordion>

  <mat-expansion-panel *ngFor="let item of items">

    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ item.added | date }}
        {{ item.categoryId }}
      </mat-panel-title>
      <mat-panel-description>
        {{ item.level }}
      </mat-panel-description>

    </mat-expansion-panel-header>

    <app-glucose-item [glucose]="item" [category]="category"></app-glucose-item>

  </mat-expansion-panel>


</mat-accordion>

