<mat-toolbar>
  <h1>Glucose Levels</h1>
</mat-toolbar>

<app-glucose-item [glucose]="selectedItem"></app-glucose-item>

<mat-accordion>

  <mat-expansion-panel *ngFor="let item of items">

    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ item.level }}
      </mat-panel-title>
      <mat-panel-description>
        {{ item.added | date }}
      </mat-panel-description>

    </mat-expansion-panel-header>

    <p>{{ item.published }}</p>
    <p>{{ item.level }}</p>

  </mat-expansion-panel>


</mat-accordion>

