<div *ngIf="glucose">

  <form class="form">
    <mat-form-field>
      <input matInput type="number" placeholder="Level" [(ngModel)]="glucose.level" value="{{ glucose.level }}" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <mat-form-field>
      <select matNativeControl required>
        <option *ngFor="let category of categories" value="category.name">{{ category.name }}</option>
      </select>
    </mat-form-field>
    <br>
    <button color="primary" mat-raised-button>Save</button>

  </form>

</div>
