<div *ngIf="glucose">

  <form class="form">
    <mat-form-field>
      <input matInput placeholder="Level" [(ngModel)]="glucose.level" value="{{ glucose.level }}" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <mat-form-field>
      <select matNativeControl required>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </mat-form-field>
  </form>

</div>
