<h1 mat-dialog-title>Add Glucose Level</h1>
<form class="form" #form="ngForm" (ngSubmit)="addItem()" >
  <mat-form-field>
    <input matInput type="number" [(ngModel)]="item.level" #name="ngModel" placeholder="Level">
  </mat-form-field>

  <mat-form-field>
    <select matNativeControl [(ngModel)]="item.categoryId" #name="ngModel" required>
      <option *ngFor="let category of categories" value="category.name">{{ category.name }}</option>
    </select>
  </mat-form-field>

  <br>
  <button type="submit" color="primary" mat-raised-button>Save</button>

</form>
